body {
  background-image: url("frame-leaf.png");
  background-position: center;
  background-size: 100%;
}
.container {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkolivegreen;
}

button {
  color: darkslategray;
  border: none;
  background-color: lavenderblush;
  font-size: 18px;
  box-shadow: 0 5px 5px 0;
}
